@font-face {
  font-family: 'Proxima Nova';
  src: local(''), url('/fonts/Proxima-Nova-Regular.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Proxima Nova';
  src: local(''), url('/fonts/Proxima-Nova.Semibold.woff2') format('woff2');
  font-weight: 600;
}

@font-face {
  font-family: 'Proxima Nova';
  src: local(''), url('/fonts/Proxima-Nova-Bold.woff') format('woff');
  font-weight: 700;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Proxima Nova',Arial,Tahoma,sans-serif,'Segoe UI';
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
