.container {
  background-color: #fff;
  display: grid;
  height: 100vh;
  overflow: hidden;
  padding: 0;
  place-content: center;
}

.main {
  display: block;
  height: auto;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  width: 100vw;
}

.header {
  align-items: center;
  box-sizing: border-box;
  color: white;
  display: flex;
  justify-content: flex-start;
  padding: 15px 15px 15px 0px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.logo {
  width: 90px;
  height: auto;
  margin-left: 0.5rem;
}
