.container {
  padding: 0;
}

.main {
  min-height: 100vh;
  padding: 0;
  display: block;
}

.header {
  top: 0;
  color: white;
  width: 100%;
  display: flex;
  padding: 15px 15px 15px 0px;
  z-index: 1;
  position: fixed;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.logo {
  width: 90px;
  height: auto;
  margin-left: 0.5rem;
}
